<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionStr" value="Data Source=.;Initial Catalog=ICANSBPMS_14030410;User ID=Farzin;Password=Aa123456"/>
		<add key="FarzinUrl" value="http://172.16.4.135:8066"/>
		<add key="FarzinUsername" value="100"/>
		<add key="FarzinPassword" value="Bb123456"/>
		<add key="WFID" value="2088"/>
		<add key="Starter" value="421"/>
		<add key="MaxDegreeOfParallelism" value="3"/>
		<add key="NumberOfRecordsFetched" value="100"/>
		<add key="SubFormFileFieldName" value="FileUpload"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
